# Virtual environments
dl/
dl_tf/
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# VSCode / IDE files
.vscode/
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python distribution / packaging
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec
*.exe
*.dll

# Logs and databases
*.log
*.sqlite3

# TensorFlow / PyTorch model files (optional: if you don't want to push big models)
*.h5
*.pt
*.pth
*.ckpt

# Misc
*.bak
*.swp
*.tmp
